div.container
    div.content-background
    div.main-content
        div.intro-content
            div.programmer-intro     
            div.programmer-img
                img(src="/images/programmer-opa.png", width="100%")
        div.restful-content 
            h1 REST service
            hr
            div.restful-intro.restful-info
                h1 Intro
                p
                    |This site is a free online REST service that you can use whenever you need some fake data.
                    br 
                    |It's great for tutorials, faking a server, sharing code examples, ...
            div.restful-examples.restful-info
                h1 Examples
                p
                    |You can get JSON data through AJAX as shown below.
                pre
                    code.javascript
                        |$.ajax({
                        |       url: 'http://jsondatafactory.kro.kr/saying/1',
                        |       method: 'GET'
                        |}).then(function(data) {
                        |       console.log(data);
                        | });
                        
                    
            div.restful-resource.restful-info
                h1 Resource
                p
                    |The following datasets are available:
                table.ui.very.basic.collapsing.celled.table
                    thead
                        tr
                            td 
                                h3.ui.image.header 
                                    a(href='/saying') /saying &emsp;
                            td 
                                h3.ui.image.header &emsp; #{sayingcount} items &emsp;
                        tr
                            td 
                                h3.ui.image.header 
                                    a(href='#') /FAQ &emsp;
                            td 
                                h3.ui.image.header &emsp; 0 items &emsp;
                        tr
                            td 
                                h3.ui.image.header 
                                    a(href='#') /users &emsp;
                            td 
                                h3.ui.image.header &emsp; 0 items &emsp;
                      
                            
            div.restful-router.restful-info
                h1 Routes
                p
                    | Verb made according to REST rules.
                    br
                    | POST, PUT, DELETE is accessible only to authorized user.
                table.ui.very.basic.collapsing.celled.table
                    thead
                        tr
                            td 
                                h3.ui.image.header GET &emsp;
                            td 
                                h3.ui.image.header 
                                    a(href='/saying') &emsp; /saying
                        tr
                            td 
                                h3.ui.image.header GET &emsp;
                            td 
                                h3.ui.image.header 
                                    a(href='/saying/1') &emsp; /saying/1
                        tr
                            td 
                                h3.ui.image.header GET &emsp;
                            td 
                                h3.ui.image.header 
                                    a(href='/saying?userId=1') &emsp; /saying?userId=1
                                   
                        tr
                            td 
                                h3.ui.image.header POST &emsp;
                            td 
                                h3.ui.image.header 
                                    a(href='/addSaying') &emsp; /saying
                                   
                        tr
                            td 
                                h3.ui.image.header PUT &emsp;
                            td 
                                h3.ui.image.header 
                                    a(href='/addSaying') &emsp; /saying
                                   
                        tr
                            td 
                                h3.ui.image.header DELETE &emsp;
                            td 
                                h3.ui.image.header 
                                    a(href='/addSaying') &emsp; /saying
                                   
        div.my-info
             hr.hr-li1  
             h3 webgot.js@gmail.com
             -if(user)
                h1 #{user.name} login                  
