div.header-blank
    div.nav-bar
    div.header-sentence
        div.header-title
            h1 
                |JSON
                img(src='images/logo.png' width='110px')
                |Datafactory
            h3 This website is JSONDatafactory. This website is a free online REST service that you can use whenever you need some fake data.The data provided by this page are saying, faq, users information. 