extends ./layout/layout

block content
    div.login-wrapper
        div.login-container
            div.login-logo
                a(href='/')
                    img(src='/images/logo.png' width='150px')
                div 
                    h3 
                        |This page is only available to managers
                        br
                        |If you are not a manager, please 
                        a(href='/') go back.
            div.login-fail #{failMsg}
            form(action="/login/doLogin"  method="post")
                div.login-body
                    h4 Login
                    div.login-input
                        div.ui.input.huge
                            input( type='text' placeholder="id" name="id")
                    h4 Passwd
                    div.login-input
                        div.ui.input.huge
                            input(type='password' placeholder="passwd" name="password")
                div.login-button
                    button.ui.yellow.button.big LOGIN


