.wrapper{
  margin: 0;
  padding: 0;
}
hr{
    border: 3px solid #1D375F;
  }
.hr-li1{
  border : 1px solid #eee;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

/* start hdeader.jade*/


.header-blank{
  width:100%;
  height: 550px;
  background-color: #E6ECEE;
}
  .nav-bar{

  }
  .header-sentence{
    
  }
    .header-title{
      width: 960px;
      margin: 0 auto;
      padding : 200px 0 100px 0;
    }
 
    .header-title h1{
      display: block;
      font-size: 70px;
      font-family: 'Quicksand', sans-serif;
    }
    .header-title h3{
      display: block;
      margin-top: 50px;
      font-family: 'Quicksand', sans-serif;
      color:#777;
    }
    
/*end header.jade*/

/* start content.jade*/

.container{
  position: relative;
  background-color: #E6ECEE;
}

  .content-background{
    
    position: absolute;
    width: 100%;
    height: 900px;
    background-color: white;
    top: 250px;
  }
  .main-content{
      position: relative;
      margin: 0 auto;
      width :960px;
      border: 2px solid #ddd;
      background-color: white;
      border-radius: 6px;
      box-shadow: 
       -50px 0px 70px -70px #666,
        50px 0px 70px -70px #666;
  }
    .intro-content{
      position: relative;
    }
      .programmer-intro{
        display: block;
        position: absolute;
        padding: 50px 50px 0 50px;
        line-height: 2em;
        font-size: 17px;
      }
      .programmer-intro > h3{
        line-height: 2em;
      
      }
      .programmer-img{
        padding-top : 100px;
        position: relative;
      }

    .restful-content{
        
    } 
    .my-info{
      text-align: center;
      margin-top : 100px;
      height: 100px;
    }
    .restful-content > h1{
      text-align: center;
      margin-top: 0;
   
    }
      .restful-info{
        margin-top: 100px;
        padding: 0 100px;
      }
      .restful-info > p{
        font-size: 19px;
      }
      
      code{
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
   
      }
  

/* end content.jade*/
.typed-cursor{
    opacity: 0;
}


/* start login.jade*/
.login-wrapper{

  position: relative;
  background-color: #E6ECEE;
  width: 100%;
  height: 100vh;
}
  .login-container{
    -webkit-box-shadow: 1px 1px 7px 0px rgba(214,214,214,1);
    -moz-box-shadow: 1px 1px 7px 0px rgba(214,214,214,1);
    box-shadow: 1px 1px 7px 0px rgba(214,214,214,1);
    position: absolute;
    top: 50%;
    margin-top: -325px;
    left : 50%;
    margin-left : -230px;
    border: 1px solid #bcd;
    width: 460px;
    height: 650px;
    background-color: white;
    
  }
    .login-logo{
      margin-top : 70px;
      text-align: center;
    }
    .login-body h4{
      margin-left: 50px;
      margin-top : 10px;
    }
    .login-input{
      text-align: center;
    }
    .login-button{
      text-align: center;
      margin-top : 30px; 
    }
    .login-fail{
      margin-top : 60px;
      text-align: center;
      color: red; 
      height: 20px; 
    }
    .ui.input{
      width: 360px;
    }
  /*end login.jade*/