doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Quicksand:300|Source+Sans+Pro')
    link(rel='stylesheet', href='/stylesheets/styles/github.css')  
   
  body
    block content
    script(src='/javascripts/highlight.pack.js')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/semantic.min.js')
    script(src='/javascripts/typed.js')
    script(src='/javascripts/sentence.js')
script hljs.initHighlightingOnLoad();